
@font-face {
 font-family: "Inter";
 src: url("inter.ttf") format("ttf"),
}

body {
  background-color: black;
  overflow: hidden;
}

#scrollsect>div {
  transform: rotate(-6deg);
}

.scroller {
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  color: white;
  font-size: 25px;
}

section {
  position: absolute;
  display: flex
  /* overflow: hidden; */
}

section .scroller {
  width: 100% ;
  display: flex;
  text-transform: uppercase;
}

section .scroller div {
  font-size: 25px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #fff;
  animation: mover 37s -37s linear infinite;
  will-change: transform;
}

.scroller:nth-child(2) div {
  animation: mover 31s -31s linear infinite;
}
.scroller:nth-child(3) div {
  animation: mover 45s -45s linear infinite;
}




#scrollsect {
  width: 100vw;
  display: block;
}




 #scrollsect .logo {
  margin-top: 40vh;
  margin-left: 40vw;
  margin-right: auto;
  margin-bottom: 32px;
  width: 219px;
  transform: translateX(-50%) rotate(-6deg);
  display: flex;
}

.logolinks {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: lighter;
  line-height: 32px;
  text-align: left;
  color: white;

}

.logolinks a {
  display: flex;
  align-items: center;
  justify-content: left;
}

.logolinks a img {
  margin-right: 16px;
  height: 24px;
}

.blob:nth-of-type(1){
  position: absolute;
  margin-left: -200px;
  margin-top: 21vh;
  z-index: -1;
}
.blob:nth-of-type(2){
position: absolute;
margin-top: 24vh;
margin-left: 70vw;
z-index: -1;
animation: morph 10s linear infinite;
}

.blob svg {
    animation: morph 10s ease-in-out infinite;
}

@keyframes mover {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes mover2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
}

@keyframes morph {
  0%   { transform: scale(1)   }
  38%  { transform: scale(0.8, 1) rotate(160deg); }
  40%  { transform: scale(0.8, 1)  rotate(160deg); }
  78%  { transform: scale(1.3)  rotate(-20deg); }
  80%  { transform: rotate(-20deg); }
  100% { transform: rotate(0) }
}
