
@font-face {
 font-family: "Inter";
 src: url("inter.ttf") format("ttf"),
}

body {
  background-color: black;
  overflow: hidden;
}

.scroller {
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  color: white;
  font-size: 25px;
}

section {
  position: relative;
  display: flex
  /* overflow: hidden; */
}

section .scroller {
  width: 100% ;
  display: flex;
  text-transform: uppercase;
}

section .scroller div {
  font-size: 25px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #fff;
  background-color: #000;
  animation: mover 37s -37s linear infinite;
  will-change: transform;
}

.scroller:nth-child(2) div {
  animation: mover 31s -31s linear infinite;
}
.scroller:nth-child(3) div {
  animation: mover 45s -45s linear infinite;
}




#scrollsect {
  width: 100vw;
  display: block;
  padding-top: 40vh;
}

#scrollsect div {
  transform: rotate(-6deg);
}


 .logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  width: 191px;
}



@keyframes mover {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes mover2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
}
